@using Client.Models.Requests

@model UserLoginRequest
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    @if (ViewData.ModelState.ContainsKey("CustomError"))
    {
        <div class="alert alert-danger" role="alert">
            @Html.Raw(ViewData.ModelState["CustomError"].Errors.FirstOrDefault()?.ErrorMessage)
        </div>
    }
    <form class="login-form" method="post">
        <h2 class="mb-4">Вход</h2>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="Email" placeholder="Введите ваш Email" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="Password" placeholder="Введите ваш пароль" required>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>
<div id="dropDownSelect1"></div>
