<h1>Регистрация</h1>

<form method="post" action="/Account/Register">
    <div class="form-group">
        <label for="firstName">Имя:</label>
        <input type="text" class="form-control" id="firstName" name="FirstName" placeholder="Введите ваше имя">
    </div>
    <div class="form-group">
        <label for="lastName">Фамилия:</label>
        <input type="text" class="form-control" id="lastName" name="LastName" placeholder="Введите вашу фамилию">
    </div>
    <div class="form-group">
        <label for="login">Имя пользователя:</label>
        <input type="text" class="form-control" id="login" name="Login" placeholder="Введите ваше имя пользователя">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="Email" placeholder="Введите ваш адрес электронной почты">
    </div>
    <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" class="form-control" id="password" name="Password" placeholder="Введите ваш пароль">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Подтвердите пароль:</label>
        <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" placeholder="Подтвердите ваш пароль">
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>