@model TextViewModel

@{
    ViewBag.Title = "Index";
}
<div>
    @foreach (string word in Model.Text.Split(' '))
    {
        <span class="word active">
            @foreach (char c in word)
            {
                <span class="symbol">
                    <letter>@c</letter>
                </span>
            }
            <span class="symbol">
                <letter>ㅤ</letter>
            </span>
        </span>
    }
</div>
<script>
    $(document).ready(function () {
        var text = '@Model.Text'.toLowerCase().split('');
        var index = 0;
        var startTime, endTime;

        $(document).keypress(function (e) {
            if (index < text.length) {
                if (index == 0) {
                    startTime = new Date();
                }
                var key = String.fromCharCode(e.which).toLowerCase();
                if (key == text[index]) {
                    $('.symbol').eq(index).removeClass('incorrectsymbol').addClass('correctsymbol');
                } else {
                    $('.symbol').eq(index).removeClass('correctsymbol').addClass('incorrectsymbol');
                }
                index++;
                if (index == text.length) {
                    endTime = new Date();
                    var timeDiff = endTime - startTime;
                    timeDiff /= 1000;
                    localStorage.setItem('typingTime', timeDiff);
                    window.location.href = '/Main/Result';
                }
            }

        });
    });
</script>