@{
    ViewBag.Title = "Result";
}

<h2>Результаты</h2>

<p>Введенный текст: @ViewBag.UserInput</p>
<p>Время ввода: @ViewBag.InputTime</p>
<p id="typingTime">Время ввода (в секундах): </p>
<a asp-action="Register" asp-controller="Account" class="btn btn-primary">Пройти тест</a>

<script>
    document.getElementById('typingTime').innerHTML += localStorage.getItem('typingTime');
</script>