@using BlindW.Data.Models;

@model List<Lesson>

@{
    ViewData["Title"] = "Home Page";
}

<ul>
    @foreach (var lesson in Model)
    {
        <li>@lesson.LessonText</li>
    }
</ul>

<h2>Уроки</h2>


