@model TextViewModel

@{
    ViewBag.Title = "Index";
}

<div style="display: flex; flex-direction: column; align-items: center;">
    <h1 style="color:#29335C">Напечатайте текст как можно быстрее</h1>
    <h1 style="color:#29335C">         </h1>

    <div class="text_container">
        @foreach (string word in Model.Text.Split(' '))
        {
            <span class="word_active">
                @foreach (char c in word)
                {
                    <span class="symbol">
                        <letter>@c</letter>
                    </span>
                }
                <span class="symbol">
                    <letter>ㅤ</letter>
                </span>
            </span>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        var text = '@Model.Text'.toLowerCase().split('');
        var index = 0;
        var startTime, endTime;
        var resultSent = false;

        $(document).keypress(function (e) {
            if (index < text.length) {
                if (index == 0) {
                    startTime = new Date();
                }
                var key = String.fromCharCode(e.which).toLowerCase();
                if (key == text[index]) {
                    $('.symbol').eq(index).removeClass('incorrectsymbol').addClass('correctsymbol');
                } else {
                    $('.symbol').eq(index).removeClass('correctsymbol').addClass('incorrectsymbol');
                }
                index++;
                if (index == text.length && !resultSent) {
                    resultSent = true;
                    endTime = new Date();
                    var timeDiff = endTime - startTime;
                    var typingTime = timeDiff;
                    var correctSymbols = $('.correctsymbol').length;

                    $.ajax({
                        url: '/PrintTraining/Result',
                        type: 'POST',
                        data: {
                            totalTime: typingTime,
                            countCharacters: text.length,
                            correctSymbols: correctSymbols
                        },
                        success: function (response) {
                            $('body').html(response);
                        },
                        error: function (xhr, status, error) {
                            console.error('Error occurred: ' + error);
                        }
                    });
                }
            }
        });

        $(document).keydown(function (e) {
            if (e.which == 8) {
                if (index > 0) {
                    index--;
                    $('.symbol').eq(index).removeClass('correctsymbol incorrectsymbol');
                }
                e.preventDefault();
            }
        });

        $("#refresh").click(function () {
            location.reload();
        });
    });
</script>