@model Client.Models.Result

<h2>Результаты</h2>

<p>Общее время: @Model.TotalTime</p>
<p>Количество символов: @Model.CountCharacters</p>
<p>Скорость ввода: @Model.Wpm</p>
<p>Точность: @Model.Accuracy</p>
