@{
    ViewBag.Title = "Index";
}

<h2>Введите текст</h2>

<div>
    <textarea id="userInput" rows="10" cols="30" placeholder="После успешного ввода этого теста, вы увидите свой результат, который будет сопоставлен с данными других пользователей, позволяя вам оценить свои текущие навыки. Кроме того, Вы получите возможность зарегистрироваться на сайте."></textarea>
</div>

<script>
    $(document).ready(function () {
        var text = "После успешного ввода этого теста, вы увидите свой результат, который будет сопоставлен с данными других пользователей, позволяя вам оценить свои текущие навыки. Кроме того, Вы получите возможность зарегистрироваться на сайте.";
        $('#userInput').on('input', function () {
            if ($(this).val() == text) {
                $.post('@Url.Action("Index", "PrintTraining")', { userInput: $(this).val() }, function () {
                    window.location.href = '@Url.Action("Result", "PrintTraining")';
                });
            }
        });
    });
</script>
