
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blind Typing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Client.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #7D869C;">
    <header>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer text-muted d-flex flex-column align-items-stretch">
        <section class="container text-left text-md-start mt-5">
            <div>
               
            </div>
        </section>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            <span class="text-white">© 2024 Blind Typing by Marfa</span>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="margin-top: 0 !important;">
                <a href="https://github.com/MarfaLHF" target="_blank">
                    <img src="images/icon_github.svg" alt="GitHub" class="fa-lg" style="width: 30px; height: 30px;">
                </a>
                <a href="https://t.me/marfaLHF" target="_blank">
                    <img src="images/icon_Telegram.svg" alt="Telegram" class="fa-lg" style="width: 30px; height: 30px;">
                </a>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
